@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");

/*-----------------------------------
             Login Page
-----------------------------------*/
.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    /*background: #ffffff;*/
}

.login-container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgb(191, 246, 195), #019501);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
.signin-signup {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
.login-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
.login-container form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.login-container form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.title {
    font-size: 35px;
    color: #019501;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #019501;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 13px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #444;
}
.sing-btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #019501;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.sing-btn:hover {
    background: #019501;
}

.social-text {
    margin: 10px 0;
    font-size: 16px;
}
.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}
a {
    text-decoration: none;
}
.social-icon:hover {
    color: #019501;
    border-color: #019501;
}

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: none;
}
.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}
.panel h3 {
    font-size: 24px;
    font-weight: 600;
}
.panel p {
    font-size: 15px;
    padding: 10px 0;
}

.login-image {
    width: 100%;
    margin-top: 15px;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}
.left-panel .login-image,
.left-panel .content {
    transform: translateX(-200%);
}
.right-panel .login-image,
.right-panel .content {
    transform: translateX(0);
}
.account-text {
    display: none;
}

.login-container.sign-up-mode::before {
    transform: translateX(0);
}
.login-container.sign-up-mode .right-panel .login-image,
.login-container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}
.login-container.sign-up-mode .left-panel .login-image,
.login-container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}
.login-container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.login-container.sign-up-mode form.sign-up-form {
    opacity: 1;
}
.login-container.sign-up-mode .right-panel {
    pointer-events: none;
}
.login-container.sign-up-mode .left-panel {
    pointer-events: all;
}

@media (max-width:779px) {
    .login-container {
        width: 90vw;
        height: 93vh;
    }
}
@media (max-width:635px) {
    .login-container::before {
        position: relative;
    }
    .login-container form {
        width: 80%;
    }
    .login-container form.sign-up-form {
        display: none;
    }
    .login-container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .login-container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
    .sing-account-btn{
        text-align: center;
        color: #019501;
    }
}
@media (max-width:320px) {
    .login-container form {
        width: 90%;
    }
}



.container{
    position: relative;
    max-width: 1230px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.form h2 {
    text-align:center;
    color:#acacac;
    font-size:40px;
    font-weight:400;
}
.form .grid {
    margin-top:20px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:20px;
}
.form .grid .form-element {
    width:220px;
    height:220px;
    box-shadow:0px 0px 20px 5px rgba(100,100,100,0.1);
}
.form .grid .form-element input {
    display:none;
}
.form .grid .form-element img {
    width:100%;
    height:100%;
    object-fit:cover;
}
.form .grid .form-element div {
    position:relative;
    height:40px;
    margin-top:-40px;
    background:rgba(0,0,0,0.5);
    text-align:center;
    line-height:40px;
    font-size:13px;
    color:#f5f5f5;
    font-weight:600;
}
.form .grid .form-element div span {
    font-size:40px;
}

@media (max-width: 440px) {
    .form-control {
        width: 120%;
    }
    .form-select {
        width: 120%;
    }

}